body{
	background-image: url(../img/background-01.png);
}


.logo{
	width: 40%;
}

.bar-dark{
	background-color: #2f180b !important;
}

.bar-dark button{
	background-color: #2f180b !important;
}

.button-dark{
		background-color: #2f180b !important;
}

.titleEventCard{
	font-size: 1px !important;
}

.item-divider{
	background-color: rgba(47,24,11,0.5) !important;
}

.item-divider h1{
	font-size: 1.2em !important;
}

.inline{
	display: inline !important;
}

.float-right{
	float: right !important;
} 
